VIRTUAL_ENV=.venv
python_version="$(cat .python-version)"
layout pyenv "$python_version"
layout python

if [ ! -x "$VIRTUAL_ENV/bin/poetry" ]; then
  pip install poetry
  pip install keyrings-google-artifactregistry-auth==1.1.2
fi

dotenv_if_exists .env
